ws-clients/src/main/resources/helloWorld-ri.wsdl

<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b.
-->
<!--
 Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b.
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.it2go.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.it2go.com/" name="HelloWorld">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://service.it2go.com/" schemaLocation="helloWorld-ri.xsd"/>
        </xsd:schema>
    </types>
    <message name="getUsers">
        <part name="parameters" element="tns:getUsers"/>
    </message>
    <message name="getUsersResponse">
        <part name="parameters" element="tns:getUsersResponse"/>
    </message>
    <message name="sayHiToUser">
        <part name="parameters" element="tns:sayHiToUser"/>
    </message>
    <message name="sayHiToUserResponse">
        <part name="parameters" element="tns:sayHiToUserResponse"/>
    </message>
    <message name="sayHi">
        <part name="parameters" element="tns:sayHi"/>
    </message>
    <message name="sayHiResponse">
        <part name="parameters" element="tns:sayHiResponse"/>
    </message>
    <portType name="HelloWorld">
        <operation name="getUsers">
            <input wsam:Action="http://service.it2go.com/HelloWorld/getUsersRequest" message="tns:getUsers"/>
            <output wsam:Action="http://service.it2go.com/HelloWorld/getUsersResponse" message="tns:getUsersResponse"/>
        </operation>
        <operation name="sayHiToUser">
            <input wsam:Action="http://service.it2go.com/HelloWorld/sayHiToUserRequest" message="tns:sayHiToUser"/>
            <output wsam:Action="http://service.it2go.com/HelloWorld/sayHiToUserResponse" message="tns:sayHiToUserResponse"/>
        </operation>
        <operation name="sayHi">
            <input wsam:Action="http://service.it2go.com/HelloWorld/sayHiRequest" message="tns:sayHi"/>
            <output wsam:Action="http://service.it2go.com/HelloWorld/sayHiResponse" message="tns:sayHiResponse"/>
        </operation>
    </portType>
    <binding name="HelloWorldImplPortBinding" type="tns:HelloWorld">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getUsers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="sayHiToUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="sayHi">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="HelloWorld">
        <port name="HelloWorldImplPort" binding="tns:HelloWorldImplPortBinding">
            <soap:address location="http://localhost:8080/ri/services/HelloWorld"/>
        </port>
    </service>
</definitions>